* {
	font-family: 'Rubik', sans-serif;
}

h2, h3, p {
	margin-left: 15px;
	line-height: 1.4;
}

.intro {
	text-indent: 10px;
	font-style: italic;

}
h3 {
	text-indent: 10px;
}

p {
	text-indent: 20px;
}